let mapleader = " "

set scrolloff=5
set number
set relativenumber
set ignorecase
set smartcase
set incsearch

map Q gq

nnoremap <leader>e :NERDTreeToggle<CR>
nnoremap <S-L> :action NextTab<CR>
nnoremap <S-H> :action PreviousTab<CR>
nnoremap <C-h> :action FocusLeftToolWindow<CR>
nnoremap <C-l> :action FocusRightToolWindow<CR>
nnoremap <C-j> :action FocusDownToolWindow<CR>
nnoremap <C-k> :action FocusUpToolWindow<CR>
nnoremap <leader><leader> :action GotoFile<CR>
nnoremap <leader>f :action FindInPath<CR>
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>
nnoremap <leader>h :action HideActiveWindow<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap <leader>co :action OptimizeImports<CR>
nnoremap <leader>ce :action ShowErrorDescription<CR>
nnoremap <leader>cg :action ShowIntentionActions<CR>
nnoremap <leader>cd :action ShowQuickDocumentation<CR>
nnoremap <leader>cr :action Run<CR>
nnoremap <leader>cR :action RenameFile<CR>
nnoremap <leader>cD :action Debug<CR>
nnoremap <leader>ss :action Find<CR>
nnoremap <leader>sS :action FindInPath<CR>
nnoremap <leader>sr :action Replace<CR>
nnoremap <leader>sR :action ReplaceInPath<CR>
nnoremap <leader>ro :action ReopenClosedTab<CR>
nnoremap <leader>fn :action NewElement<CR>
nnoremap <A-j> :m .+1<CR>==
nnoremap <A-k> :m .-2<CR>==
vnoremap <A-j> :m '>+1<CR>gv=gv
vnoremap <A-k> :m '<-2<CR>gv=gv


Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'
set which-key
set timeoutlen=5000
Plug 'justinmk/vim-sneak'
Plug 'tpope/vim-surround'


let g:WhichKeyDesc_CodeActions = "<leader>c Code Actions"
let g:WhichKeyDesc_ReformatCode = "<leader>co Format Code"
let g:WhichKeyDesc_ShowErrorDescription = "<leader>ce Show Error"
let g:WhichKeyDesc_Generator = "<leader>cg Generate"
let g:WhichKeyDesc_Run = "<leader>cr Run Code"
let g:WhichKeyDesc_Rename = "<leader>cr Run Code"
let g:WhichKeyDesc_Debug = "<leader>cd Debug Code"
let g:WhichKeyDesc_ShowDoc = "<leader>cd Quick Doc"
let g:WhichKeyDesc_ReopenTab = "<leader>ro Open Last Tab"
let g:WhichKeyDesc_FindFile = "<leader><leader> Find File"
let g:WhichKeyDesc_Terminal = "<leader>t Open Terminal"
let g:WhichKeyDesc_HideOutput = "<leader>h Hide Output"
let g:WhichKeyDesc_Search = "<leader>s Search"
let g:WhichKeyDesc_Search = "<leader>ss Search in File"
let g:WhichKeyDesc_SearchAll = "<leader>sS Search All"
let g:WhichKeyDesc_SearchAndReplace = "<leader>sr Replace in File"
let g:WhichKeyDesc_SearchAndReplace = "<leader>sR Replace All"
let g:WhichKeyDesc_e = "<leader>e Open Tree"
